  <header class="LayoutHeader" ng-controller="menuMobileController as menuMobile">
    <div class="TopBar">
      <div class="TopBar-iconMenu" ng-click="menuMobile.toggle()"> </div>
      <div class="TopBar-logo"> 
        <div class="Logo">
        	<%= link_to root_path, class: "Logo-text"  do %>
        		<span class="Logo--textLight">Psico</span><span class="Logo--textBold">talentos</span>
        	<% end %>
        </div>
      </div>
      <div class="TopBar-left">
        <ul class="TopBar-list">
          <li class="TopBar-element"><a href=""><%= link_to "Ver empleos",jobs_path %></a></li>
          <li class="TopBar-element"><a href="">Sobre nosotros</a></li>
        </ul>
      </div>
      <div class="TopBar-right">
        <ul class="TopBar-list">
          <li class="TopBar-element"><%= link_to "Entrar",new_user_session_path, class: "TopBar-element buttonSignIn" %></li>
          <li class="TopBar-element"><%= link_to "Regístrate" , new_user_registration_path, class: "TopBar-element buttonSignOut" %></li>
        </ul>
      </div>
    </div>
    <div class="MenuMobile" ng-show="menuMobile.show">
          <ul class="MenuMobile-listMenu">
            <li class="MenuMobile-element">
              <%= link_to "Ver empleos",jobs_path, class: "MenuMobile-textElement" %>
            </li>
            <li class="MenuMobile-element">
              <%= link_to "Entrar", new_user_session_path, class: "MenuMobile-textElement" %>
            </li>
            <li class="MenuMobile-element">
              <%= link_to "Regístrate" , new_user_registration_path, class: "MenuMobile-textElement"%>
            </li>
          </ul>
      </div>
    <div class="ContentHeader">
      <p class="ContentHeader-mainText">Mejoramos el proceso de seleccion de talento humano</p>
      <p class="ContentHeader-secondaryText">Regístrate y postula en los mejores empleos, con empleos no solo de tu región sino de todo el País</p>
    </div>
    <div class="LayoutHeader-button">
      <div class="Button">
        <%= link_to "Crear Cuenta", new_user_registration_path, class: "Button--green" %>
      </div>
    </div>
  </header>
  <div class="Content">
    <div class="Promotions">
      <h3 class="Promotions-mainText">¿Cómo realizamos todo este proceso de seleccionamiento?</h3>
      <p class="Promotions-secondaryText">Nuestra tecnología se encarga de mostrate las mejores ofertas segun tu perfil.</p>
      <div class="Promotions-secondInformation">
        <div class="Promotions-containerImage">
			<%= image_tag("bk-header", class: "Promotions-image") %>
        </div>
        <div class="Promotions-listSkills">
          <ul class="Promotions-list">
            <li class="Promotions-listText">Contamos con una gran cantidad de empleos de las mejores empresas del País.</li>
            <li class="Promotions-listText">Añadimos todos los procesos de seleccion de talento humano.</li>
            <li class="Promotions-listText">Examenes de conocimientos.</li>
            <li class="Promotions-listText">Entrevistas Virtuales.</li>
            <li class="Promotions-listText">Entrevistas Psicológicas.</li>
            <li class="Promotions-listText">Sistema de notificaciones en tiempo real.	</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="Content-Partner">
    <div class="Partner">
      <h3 class="Partner-mainText">Empresas contratando en estos momentos</h3>
      <p class="Partner-secondaryText">No te pierdas estas oportunidades</p>
      <div class="Partner-listCompanys">
        <div class="Partner-Company"><%= image_tag("client1.png") %></div>
        <div class="Partner-Company"><%= image_tag("client2.png") %></div>
        <div class="Partner-Company"><%= image_tag("client3.png") %></div>
      </div>
    </div>
  </div>
  <div class="Content-appMobile">
    <div class="AppMobile">
      <p class="AppMobile-mainText">Proximamente nuestra aplicacion nativa para Android</p>
      <%= image_tag("disponible_en_GooglePlay.png" , class: "AppMobile-imageGooglePlay")	 %>
    </div>
  </div>
  <footer class="Content-footer">
    <div class="Links">
      <p class="Links-mainText">Secciones</p>
      <ul class="Links-list">
        <li class="Links-element"><a href="#" class="Links-text">Buscar empleos</a></li>
        <li class="Links-element"><a href="#" class="Links-text">Empresas</a></li>
        <li class="Links-element"><a href="#" class="Links-text">Sobre Psicotalentos</a></li>
      </ul>
    </div>
    <div class="Copyright">
      <p class="Copyright-text">(c) 2015 - Psicotalentos SAC. Todos los derechos reservados</p>
    </div>
  </footer>
</body>