<div class="Layout">
  <div class="Layout-Form">
    <div class="LayoutMidForm">
      <div class="LayoutMidForm-top">
        <div class="Logo">
            <%= link_to root_path, class: "Logo-text"  do %>
              <span class="Logo--textLight">Psico</span><span class="Logo--textBold">talentos</span>
            <% end %>
        </div> 
      </div>
      <div class="FormUser">
        <h2 class="FormUser-mainText">Entrar a Psicotalentos</h2>
        <p class="FormUser-secondaryText">Indica tu email y contraseña</p>
        <div class="FormUser-container">
            <%= form_for(resource, as: resource_name,html: {class: "FormUser-form" },url: session_path(resource_name)) do |f| %>
              <div class="FormUser-field">
                <%= f.email_field :email, autofocus: true, placeholder: "E-mail * ", class: "FormUser-inputText"%>
              </div>

              <div class="FormUser-field">
                <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña * (min 6 caract)" , class: "FormUser-inputText" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="FormUser-field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me , "Recordarme" , class: "FormUser-textCheckbox" %>
                </div>
              <% end -%>
              <div class="FormUser-Button">
                <div class="Button">
                  <%= f.submit "Entrar" , class: "Button--saveForm" %>
                </div>
              </div>
            <% end %>
            <div class="FormUser-facebookC">
              <div class="FacebookC">
                <a href="#" class="FacebookC-button">
                  Entra con Facebook
                </a>
              </div>
            </div>
            <div class="FormUser-footerLinks">
              <%= render "devise/shared/links" %>        
          </div>          
        </div>
      </div>
    </div>  
  </div>
</div>
  

