<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-L8")
	title Psicotalentos - Trabajos
	link(rel="stylesheet",href="./css/style.css")
	link(href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400", rel="stylesheet", type="text/css")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body
	div.LayoutDashboard
		header.LayoutDashboard-header
			div.topBarDashboard
				div.topBarDashboard-left
					div.topBarDashboard-logo
						div.Logo
							a(href="#").Logo--textSmall
								span.Logo--textLight Psico
								span.Logo--textBold talentos
				div.topBarDashboard-right
					div.topBarDashboard-search
						a(href="#").topBarDashboard-iconSearch
					div.topBarDashboard-menuAvatar
						div.AvatarProfile
							div.AvatarProfile-avatar
								img(src="images/avatar.jpg", alt="").AvatarProfile-image
			div.menuDashboard
				ul.menuDashboard-elements
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Sugerencias
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Empleos
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Postulaciones
		div.LayoutDashboard-informationJob
			section.Information
				p.Information-mainText Información de Perfil
			div.InformationJob
				div.InformationJob-top
					div.InformationJob-avatar
						p.InformationJob-avatarText L
					div.InformationJob-textHeader
						a.InformationJob-title(href="") Programador
						p.InformationJob-company LimaW SAC
				div.InformationJob-middle
					p.InformationJob-date Publicado el 24 jun
					p.InformationJob-calendar Indefinido
					p.InformationJob-typeContract Contrato
					p.InformationJob-workHours Completo
				div.InformationJob-bottom
					p.InformationJob-descriptionText Descripción
					div.InformationJob-description 
						p.InformationJob-textDescription Somos una empresa en franco desarrollo y expansion, con amplia experiencia en el desarrollo de soluciones en software de control de asistencia. Nuestro horario de trabajo es de lunes a viernes de 9am a 6pm

					p.InformationJob-requirements Requerimientos
					p.InformationJob-minimumEducation Educacion Minima :
						span.InformationJob-textEducation Técnico
					p.InformationJob-yearExperience Años de experiencia : 
						span.InformationJob-textExperience 1
					p.InformationJob-lenguaje Idioma : 
						span.InformationJob-textLenguaje Español
					p.InformationJob-travel Disponibilidad de Viajar : 
						span.InformationJob-textTravel No
					p.InformationJob-changeResidence Disponibilidad de Cambio de residencia : 
						span.InformationJob-textResidence No



		div.LayoutDashboard-apply
			div.Button
				a(href="").Button--fixedGreen Aplicar
		footer.LayoutDashboard-footer
			div.Links
				p.Links-mainText Secciones
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Mi Curriculum
					li.Links-element
						a.Links-text(href="#") Mis Candidaturas
					li.Links-element
						a.Links-text(href="#") Mi perfil
				p.Links-mainText Empresas
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Contacto
				div.Copyright
					p.Copyright-text (c) 2015 - Psicotalentos SAC. Todos los derechos reservados