<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-L8")
	title Psicotalentos - Trabajos
	link(rel="stylesheet",href="./css/style.css")
	link(href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400", rel="stylesheet", type="text/css")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body
	div.LayoutDashboard
		header.LayoutDashboard-header
			div.topBarDashboard
				div.topBarDashboard-left
					div.topBarDashboard-logo
						div.Logo
							a(href="#").Logo--textSmall
								span.Logo--textLight Psico
								span.Logo--textBold talentos
				div.topBarDashboard-right
					div.topBarDashboard-search
						a(href="#").topBarDashboard-iconSearch
					div.topBarDashboard-menuAvatar
						div.AvatarProfile
							div.AvatarProfile-avatar
								img(src="images/avatar.jpg", alt="").AvatarProfile-image
			div.menuDashboard
				ul.menuDashboard-elements
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Sugerencias
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Empleos
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Postulaciones

		div.LayoutDashboard-profile
			div.Profile
				div.CardProfile
					div.CardProfile-left
						div.CardProfile-containerImage
							img(src="images/avatar.jpg", alt="").CardProfile-image
					div.CardProfile-right
						h4.CardProfile-name Alexei Mamani Coaquira
						p.CardProfile-skill Backend & Frontend Developer
						p.CardProfile-ubication Arequipa, Perú
						p.CardProfile-email alexeim763@gmail.com
						div.CardProfile-iconEdit
						div.CardProfile-download
							a(href="").CardProfile-textDownload Descargar CV
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Información Personal
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Perfil Profesional
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Formación Académica
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Idiomas
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Conocimientos Informaticos
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Comptencias y Habilidades
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit


		footer.LayoutDashboard-footer
			div.Links
				p.Links-mainText Secciones
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Mi Curriculum
					li.Links-element
						a.Links-text(href="#") Mis Candidaturas
					li.Links-element
						a.Links-text(href="#") Mi perfil
				p.Links-mainText Empresas
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Contacto
				div.Copyright
					p.Copyright-text (c) 2015 - Psicotalentos SAC. Todos los derechos reservados