<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-L8")
	title Psicotalentos - Trabajos
	link(rel="stylesheet",href="./css/style.css")
	link(href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400", rel="stylesheet", type="text/css")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body
	div.LayoutDashboard
		header.LayoutDashboard-header
			div.topBarDashboard
				div.topBarDashboard-left
					div.topBarDashboard-logo
						div.Logo
							a(href="#").Logo--textSmall
								span.Logo--textLight Psico
								span.Logo--textBold talentos
				div.topBarDashboard-right
					div.topBarDashboard-search
						a(href="#").topBarDashboard-iconSearch
					div.topBarDashboard-menuAvatar
						div.AvatarProfile
							div.AvatarProfile-avatar
								img(src="images/avatar.jpg", alt="").AvatarProfile-image
			div.menuDashboard
				ul.menuDashboard-elements
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Sugerencias
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Empleos
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Postulaciones
		div.LayoutDashboard-search
			section.Information
				p.Information-searchText Busco trabajo de...
			div.Search
				form(id="", method="", action="").Search-form
				div.Search-containerInput
					input(type="text", placeholder="").Search-searchInput
					div.Search-iconSearch
				input(type="submit",value="Buscar").Search-button

				
		footer.LayoutDashboard-footer
			div.Links
				p.Links-mainText Secciones
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Mi Curriculum
					li.Links-element
						a.Links-text(href="#") Mis Candidaturas
					li.Links-element
						a.Links-text(href="#") Mi perfil
				p.Links-mainText Empresas
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Contacto
				div.Copyright
					p.Copyright-text (c) 2015 - Psicotalentos SAC. Todos los derechos reservados