@import 'normalize.styl'
@import 'Font/style.styl'
@import 'Font/variables.styl'

//Variables

green_button = #22B573
green_lineButton = #009245
blueLight = #00A9F5 
blueFont = #00A9F5
footerColor = #064B5B
blueColor = #307FC5
grayColor = #f5f5f5
grayNatural = #ccc




body
	background-color white
	font-family: 'Roboto', sans-serif;

.LayoutHeader
	background  linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.4)
    ), url('../images/bk-header.jpg')
	background-size cover
	height 370px
	position relative
	
.TopBar
	height 60px
	position relative
	display flex
	position relative
	align-items center
	text-align center
	&-iconMenu
		color white
		text-decoration none
		top 50%
		left 3%
		position absolute
		transform: translateY(-50%);
		font-size 1.7em
		&:before
			content icon-menu 
			font-family 'fontIcon'
			speak none
			
	&-logo
		text-align center
		width 100%
.Logo	
	&-text
		color white
		text-decoration none
		font-size 2.3rem
	&--textLight
		font-style italic
		font-weight 100
	&--textBold
		font-weight 500
		font-style italic
	&--textSmall
		color white
		text-decoration none
		font-size 1.7rem

.ContentHeader
	text-align center
	width 90%
	margin 0 auto
	&-mainText
		color white
		text-shadow 1px 1px 9px black
		font-size 1.2em
		padding 0.5em 0
	&-secondaryText
		color white
		font-weight 300
		font-size 1.1em
		text-shadow 4px 3px 3px black	
		padding 0.5em 0
.Button
	width 100%
	&--green
		background-color green_button
		padding 0.8em 0
		border-bottom 0.4em solid green_lineButton
		color white
		text-decoration none
		font-size 1.2em
		font-weight 300
		display block
		text-align center
			
	&--fixedGreen
		background-color green_button
		padding 0.8em 0
		text-align center
		border none
		position fixed
		bottom 0
		right 0
		left 0
		color white
		text-decoration none
		text-transform uppercase
				
	&--apply
		background-color blueLight
		color white
		padding 0.3em 0
		text-align center 
		text-decoration none
		font-size 1.2em
		font-weight 300
		display block
		
	&--add
		background-color white
		text-decoration none
		color blueLight
		font-weight 300
		font-size 0.8rem
		text-align center
		border 1px solid blueLight
		border-radius 10px
		padding 0.9em 0
		display block
		position relative
		&:before
			content icon-file-text2
			font-family 'fontIcon'
			position absolute
			left 5%
			font-size 1rem

		
.LayoutHeader
	&-button
		width 100%
		position absolute
		bottom 1em
		left 50%
		width 80%
		transform: translatex(-50%);

.Content
	width 90%
	margin 0 auto
	
	&-Partner
		background rgba(40,236,254,1)
		background linear-gradient(to right, rgba(40,236,254,1) 0%, rgba(2,173,246,1) 100%)
		background -webkit-gradient(left top, right top, color-stop(0%, rgba(40,236,254,1)), color-stop(100%, rgba(2,173,246,1)))
		padding 1em 0
	&-appMobile
		width 100%
		padding 0.5em 0	
	&-footer
		width 100%
		background-color footerColor
		padding 0.5em 0	
		



.Promotions
	&-mainText
		font-size 2em 
		color blueFont
		font-weight 400
		text-align center
	&-secondaryText
		font-size 1.36em
		text-align center
		font-weight 100
	&-secondInformation
		display flex
		flex-direction column
		justify-content center
		align-items center
	&-containerImage
	&-image
		border-radius 500% 500%
		width 180px
	&-listSkills
		width 100%
	&-list
	&-listText
		font-size 1em
		font-weight 200	

.Partner
	width 80%
	margin 0 auto
	&-mainText
		color white
		font-weight 400
		font-size 1.3em
		text-align center
	&-secondaryText
		font-weight 300
		color white
		text-align center
	&-listCompanys
		display flex
		flex-direction column
		justify-content center
		align-items center
.AppMobile
	width 90%
	margin 0 auto
	display flex
	flex-direction column
	justify-content center
	align-items center
	&-mainText
		color blueFont
		font-size 1.4em
		margin 1em 0 1em 0
	&-imageGooglePlay
		width 50%
		margin 0 0 1em 0
.Links
	width 90%
	margin 0 auto
	&-mainText
		color white
		font-weight 400
		padding 0 0 0.6em 0
		border-bottom 0.1em solid rgba(255,255,255,0.6)
		font-size 0.9em
		margin 0.4em 0
	&-list
		list-style none
		padding 0
		margin 0.4em 0
	&-element
		color white
		padding 0.3em 0
		border-bottom 0.1em solid rgba(255,255,255,0.3)
	&-text
		color white
		text-decoration none
		font-weight 300
		font-size 0.9em
.Copyright
	width 80%
	margin 0 auto
	&-text
		color white
		font-weight 300
		font-size 0.8em
		margin 0
		padding 0.8em 0
		text-align center
		

/// Dashboard

.LayoutDashboard
	width 100%
	height 100vh
	&-header
		width 100%
	&-jobs
		width 90%
		margin 1em auto
	&-footer
		width 100%
		margin 0 auto
		background-color footerColor
		padding 0.5em 0
	&-more
		width 100%
		text-align center
		margin 2em auto
	&-informationJob
		width 90%
		margin 1em auto
	&-search
		width 90%
		padding 1em
		margin 0 auto
	&-profile
		width 100%
			
		

			
.topBarDashboard
	background blueLight
	height 80px	
	display flex
	justify-content space-between
	align-items center
	&-left
		padding 0 1em
	&-right
		display flex
		justify-content space-around
		align-items center
	&-search
		padding 0 1.2em
	&-iconSearch
		width 100%
		color white
		font-size 1.4rem
		text-decoration none
		&:before
			content icon-search
			font-family 'fontIcon'
			speak none
	&-menuAvatar
		width 100%
		padding 0 1.2em

.menuDashboard
	background blueColor
	&-elements
		list-style none
		height 50px
		display flex
		justify-content space-around
		align-items center
		margin 0
		padding 0
	&-element
	&-text
		color white
		margin 0
		padding 0
		text-decoration none
		font-size 0.9rem
		font-weight 400

.AvatarProfile
	width 100%
	&-avatar
		width 100%
	&-image
		width 35px
		border-radius 50%

.Information
	&-mainText
		font-size 1em
		font-weight 300
		margin 0
		padding-bottom 0.8em
		border-bottom solid 1px rgba(0,0,0,0.2)
	&-searchText
		font-size 1em
		font-weight 300
		margin 0
		
.Jobs
	width 100%
.Job
	border solid 1px rgba(0,0,0,0.2)
	height 120px
	margin 1em 0
	display flex
	justify-content space-between
	align-items center
	position relative
	&-avatar
		border solid 1px rgba(0,0,0,0.2)
		width 70px
		height 50px
		background-color blueColor
		display flex
		align-items center
		justify-content center
		margin-left 1em	
	&-avatarText
		color white
		text-align center
		padding 0
		margin 0
		font-size 3em
	&-title
		color blueFont
		text-transform uppercase
		font-size 0.9rem
		font-weight 500
		text-decoration none
		margin 0
		padding 0
	&-content
		width 50%	
		margin 0 0.6em
	&-company
		color gray
		font-size 0.9rem
		margin 0
		padding 0
	&-time
		color gray
		font-size 0.9rem
		margin 0
		font-weight 300
		padding 0
		&:before
			content icon-calendar
			padding 0 0.5em 0 0 
			font-size 1em
			font-family 'fontIcon'
			speak none
	&-salary
		color gray
		font-size 0.9rem
		font-weight 300
		margin 0
		padding 0
		&:before
			content icon-coin-dollar
			padding 0 0.5em 0 0 
			font-size 1em
			font-family 'fontIcon'
			speak none		
	&-date
		color gray
		font-size 0.7rem
		margin 0
		padding 0
		font-weight 300	
		position absolute
		bottom 0.2em
		left 1em

	&-menuActions
		width 30%
		margin-right 1em
	
///JobProfile
		
.InformationJob
	width 100%
	&-top
		border 1px solid rgba(0,0,0,0.2)
		margin 1em 0 0 0
		padding 1em 1em
		display flex
		align-items center
	&-avatar
		width 80px
		height 70px	
		display flex
		background blueColor
		align-items center
		justify-content center
	&-avatarText 
		color white
		text-align center
		padding 0
		margin 0
		font-size 2em
	&-textHeader
		margin-left 1.5em
		
	&-title
		text-decoration none
		color blueFont
		text-transform uppercase
	&-company
		font-size 0.9em
		margin 0.2em 0
		font-weight 300
		
		
	&-middle
		background grayColor
		padding 0.9em 1.9em
		
	&-date
		font-size 0.9em
		font-weight 300
		&:before
			content icon-clock
			font-family 'fontIcon'
			margin 0 0.5em 0 0
	&-calendar
		font-size 0.9em
		font-weight 300 
		&:before
			content icon-calendar
			font-family 'fontIcon'
			margin 0 0.5em 0 0
	&-typeContract
		font-size 0.9em
		font-weight 300 
		&:before
			content icon-file-text2
			font-family 'fontIcon'
			margin 0 0.5em 0 0
	&-workHours
		font-size 0.9em
		font-weight 300 
		&:before
			content icon-alarm
			font-family 'fontIcon'
			margin 0 0.5em 0 0
	&-bottom
		background grayColor
		padding 0.9em 1.9em
		margin 0.6em 0
	&-descriptionText
		font-size 1.1em
		font-weight 400
	&-description
		width 99%
	&-textDescription
		font-size 0.8em	
		font-weight 300
		text-align justify 
	&-requirements
		font-size 0.9em
		font-weight 400
	&-minimumEducation
	&-yearExperience
	&-lenguaje
	&-travel
	&-changeResidence
		font-size 0.8em
		font-weight 400
	&-textEducation
	&-textExperience
	&-textLenguaje
	&-textTravel
	&-textResidence	
		font-weight 300

//search

.Search
	width 100%
	margin 1em 0
	&-form
		width 100%
	&-containerInput
		position relative
		margin-bottom 1em
	&-searchInput
		width 100%
		height 40px
		border-radius 10px
		border solid rgba(0, 0, 0, .25) 1px
	&-button
		background-color green_button
		border-bottom 0.4em solid green_lineButton
		border-top 0
		border-left 0
		border-right 0
		padding 0.8em 0
		text-align center
		color white
		text-decoration none
		text-transform uppercase
		width 100%
	&-iconSearch
		color rgba(gray,0.7)
		position absolute
		top 50%
		transform translateY(-50%)
		right 1em
		font-size 1.2em
		&:before
			content icon-search
			font-family 'fontIcon'
			speak none


//Profile

.CardProfile
	width 90%
	margin 0 auto
	display flex
	justify-content space-between
	align-items center
	padding 1em
	&-left
		margin-right 3em		
	&-containerImage
		width 100px
		height 100px
		border 1px solid rgba(0,0,0,0.2)		
	&-image
		width 100%
		height 100%
		
	&-right
		flex-basis 90%
		position relative
		display flex
		flex-direction column
	&-name
		font-size 1.3em
		font-weight 500
		margin 0.3em 0
		padding 0
	&-skill
		font-size 1em
		paddin 0
		margin 0.3em 0
	&-ubication
		font-weight 300
		font-size 0.9em
		margin 0.3em 0
		padding 0
		&:before
			font-family 'fontIcon'
			content icon-location2
			margin-right 0.5em
	&-email
		font-weight 300
		font-size 0.9em
		margin 0.3em 0
		padding 0
		&:before
			font-family 'fontIcon'
			content icon-envelop
			margin-right 0.5em
			speak none
	&-iconEdit
		font-size 1.9em
		color rgba(0,0,0,0.5)
		position absolute
		top 0
		right 0
		&:before
			font-family 'fontIcon'
			content icon-pencil
			speak none
	&-download
		align-self flex-end
	&-textDownload
		color blueColor
		text-decoration underline
		&:after
			font-family 'fontIcon'
			content icon-download
			speak none
			margin-left 0.5em
			font-size 1.5em

.ItemCV
	width 100%
	&-title
		background-color grayNatural
		text-align center
	&-titleText
		font-size 0.9rem
		font-weight 400
		padding 0.7em 0
	&-container
		width 80%
		margin 0 auto
	&-buttonContainer
		display relative
	&-list
		width 100%
		
	&-element
		width 90%
		margin 1em auto
		display flex
		justify-content space-between
		align-items center
	&-textItem
		font-size 0.9rem
		font-weight 300
		padding 0
		margin 0
		flex-basis 90%
		&:before
			font-family 'fontIcon'
			content icon-file-empty
			speak none
			margin-right 1em
			color blueLight
	&-actionDelete
		text-decoration none
		flex-grow 1
		&:before
			font-family 'fontIcon'
			content icon-cross
			speak none
			margin-right 1em
			color red
			font-size 1.5em
	&-actionEdit
		text-decoration none
		flex-grow 1
		&:before
			font-family 'fontIcon'
			content icon-pencil
			speak none
			margin-right 1em
			color gray
			font-size 1.5em
			
			


.u-dBlock
	display block
.u-textUppercase
	text-transform uppercase		

	
		

	
	
		

		
	
		
		

	

	
