@font-face {
	font-family: 'fontIcon';
	src:url('../fonts/fontIcon.eot?-w8qe4c');
	src:url('../fonts/fontIcon.eot?#iefix-w8qe4c') format('embedded-opentype'),
		url('../fonts/fontIcon.ttf?-w8qe4c') format('truetype'),
		url('../fonts/fontIcon.woff?-w8qe4c') format('woff'),
		url('../fonts/fontIcon.svg?-w8qe4c#fontIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fontIcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-image:before {
	content: "\e90d";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-file-empty:before {
	content: "\e924";
}
.icon-file-text2:before {
	content: "\e926";
}
.icon-price-tags:before {
	content: "\e936";
}
.icon-coin-dollar:before {
	content: "\e93b";
}
.icon-envelop:before {
	content: "\e945";
}
.icon-location2:before {
	content: "\e948";
}
.icon-clock:before {
	content: "\e94e";
}
.icon-alarm:before {
	content: "\e950";
}
.icon-calendar:before {
	content: "\e953";
}
.icon-download:before {
	content: "\e960";
}
.icon-bubble2:before {
	content: "\e96e";
}
.icon-user-check:before {
	content: "\e975";
}
.icon-search:before {
	content: "\e986";
}
.icon-lock:before {
	content: "\e98f";
}
.icon-unlocked:before {
	content: "\e990";
}
.icon-cog:before {
	content: "\e994";
}
.icon-stats-dots:before {
	content: "\e99b";
}
.icon-stats-bars:before {
	content: "\e99c";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-eye:before {
	content: "\e9ce";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-exit:before {
	content: "\ea14";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-twitter:before {
	content: "\ea91";
}
