<div class="Form">
  <div class="Form-top">
    <% name ||= "Crear" %>
    <p class="Form-mainTitle"><%= name %> Empleo</p>
    <p class="Form-secondaryTitle"> Completa todos los campos sobre el empleo </p>
    <p id="notice"><%= notice %></p>
  </div>
  <%= form_for([@company,@job]) do |f| %>
   <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
          <% @job.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  <div class="Form-bot">
    <div class="Form-field">
      <%= f.label :title , "Titulo", class: "Form-label" %>
      <%= f.text_field :title, class: "Form-input" , :required => true %> 
    </div>
    <div class="Form-field">
      <%= f.label :salary , "Salario", class: "Form-label"  %>
      <%= f.text_field :salary, class: "Form-input"%> 
    </div>
     <div class="Form-field">
      <%= f.label :description , "Descripción", class: "Form-label"%>
      <%= f.text_area(:description, class: "Form-inputArea", rows: 8)%> 
    </div>
    <div class="Form-field">
      <%= f.label :recruitmentTime , "Tiempo de reclutamiento", class: "Form-label"%>
      <%= f.text_field :recruitmentTime, class: "Form-input" %> 
    </div>
    <div class="Form-field">
      <%= f.label :minimumEducation , "Educación Minima", class: "Form-label"%>
      <%= f.text_field :minimumEducation, class: "Form-input" %> 
    </div>
    <div class="Form-field">
      <%= f.label :yearExperience , "Años de Experiencia", class: "Form-label"%>
      <%= f.text_field :yearExperience, class: "Form-input" %> 
    </div>
     <div class="Form-field">
      <%= f.label :lenguages , "Idiomas ", class: "Form-label"%>
      <%= f.text_field :lenguages, class: "Form-input" %> 
    </div>
    <div class="Form-field">
      <%= f.label :other , "Otros", class: "Form-label"%>
      <%= f.text_area(:other, class: "Form-inputArea" , rows: 8)%> 
    </div>
    <div class="Form-field">
      <div class="Button">
        <%= f.submit "Guardar", class: "Button--saveForm" %>  
      </div>
    </div>
  </div>
  <% end %>
</div>

