    <div class="LayoutDashboard-jobs">
      <section class="Information">
        <p class="Information-mainText">Ofertas sugeridas según tu perfil profesional</p>
      </section>
      <section class="Jobs">
        <%@jobs.each do |job| %>
        <div class="Job">
          <div class="Job-avatar">
            <p class="Job-avatarText"><%= job.company.name[0] %></p>
          </div>
          <div class="Job-content">
            <%= link_to job.title ,company_job_path(job.company, job), class: "Job-title" %>
            <%= link_to job.company.name , company_path(job.company), class: "Job-company" %>
            <p class="Job-time"><%= DateTime.now.beginning_of_day   %></p>
            <p class="Job-salary">
            <% if job.salary == 0 %>
              Indefinido 
            <% else %>
              <span> S/. </span> <%= job.salary %> <span>.00</span>             
            <% end %>
            </p>
            <p class="Job-date">Publicado el 
              <%= job.created_at.strftime("%d %b")  
              %>
            </p>
          </div>
          <div class="Job-menuActions">
            <div class="Button"><a href="#" class="Button--apply">Aplicar</a></div>
          </div>
        </div>
        <% end %>
       </section>
      <div class="LayoutDashboard-more">
        <div class="Button"><a href="#" class="Button--green">Mas sugerencias para mí </a></div>
      </div>
    </div>
  