  <div class="LayoutDashboard-informationJob">
    <section class="Information">
      <p class="Information-mainText">Información de Perfil</p>
    </section>
    <div class="InformationJob">
      <div class="InformationJob-top">
        <div class="InformationJob-avatar">
          <p class="InformationJob-avatarText">L</p>
        </div>
        <div class="InformationJob-textHeader"><a href="" class="InformationJob-title"><%= @job.title %></a>
          <p class="InformationJob-company">LimaW SAC</p>
        </div>
      </div>
      <div class="InformationJob-middle">
        <p class="InformationJob-date"><%= @job.title %></p>
        <p class="InformationJob-calendar">Indefinido</p>
        <p class="InformationJob-typeContract">Contrato</p>
        <p class="InformationJob-workHours">Completo</p>
      </div>
      <div class="InformationJob-bottom">
        <p class="InformationJob-descriptionText">Descripción</p>
        <div class="InformationJob-description"> 
          <p class="InformationJob-textDescription"><%= @job.description %></p>
        </div>
        <p class="InformationJob-requirements">Requerimientos</p>
        <p class="InformationJob-minimumEducation">Educacion Minima :<span class="InformationJob-textEducation"><%= @job.minimumEducation %></span></p>
        <p class="InformationJob-yearExperience">Años de experiencia : <span class="InformationJob-textExperience"><%= @job.yearExperience %></span></p>
        <p class="InformationJob-lenguaje">Idioma : <span class="InformationJob-textLenguaje"><%= @job.lenguages %></span></p>
        <p class="InformationJob-travel">Disponibilidad de Viajar : <span class="InformationJob-textTravel">No</span></p>
        <p class="InformationJob-changeResidence">Disponibilidad de Cambio de residencia : <span class="InformationJob-textResidence">No</span></p>
      </div>
    </div>
  </div>
  <div class="LayoutDashboard-apply">
    <div class="Button"><a href="" class="Button--fixedGreen">Aplicar</a></div>
  </div>