<div class="Layout">
  <div class="Layout-Form">
    <div class="LayoutMidForm">
    	<div class="LayoutMidForm-top">
	        <div class="Logo">
	            <%= link_to root_path, class: "Logo-text"  do %>
	              <span class="Logo--textLight">Psico</span><span class="Logo--textBold">talentos</span>
	            <% end %>
	        </div>
        </div>  
      <div class="FormUser">
        <h2 class="FormUser-mainText">¿ Perdiste Tu contraseña ?</h2>
        <p class="FormUser-secondaryText"> Ingresa tu E-mail para recuperar tu contraseña</p>
        <div class="FormUser-container">

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "FormUser-form" }) do |f| %>
		  <%= devise_error_messages! %>
			<div class="FormUser-field">
			<%= f.email_field :email, autofocus: true, placeholder: "Ingresar tu E-mail", class: "FormUser-inputText" %>
			</div>

			<div class="FormUser-Button">
	        	<div class="Button">
	            	<%= f.submit "Recuperar contraseña" , class: "Button--saveForm" %>
	          	</div>
	        </div>
		<% end %>
		<div class="FormUser-footerLinks">
           	<%= render "devise/shared/links" %>        
        </div>          
        </div>
      </div>
    </div>  
  </div>
</div>
  