<div class="Layout">
  <div class="Layout-Form">
    <div class="LayoutMidForm">
      <div class="LayoutMidForm-top">
        <div class="Logo">
            <%= link_to root_path, class: "Logo-text"  do %>
              <span class="Logo--textLight">Psico</span><span class="Logo--textBold">talentos</span>
            <% end %>
        </div>  
      </div>
      <div class="FormUser">
        <h2 class="FormUser-mainText">Crear Cuenta</h2>
        <p class="FormUser-secondaryText">Indica tus Datos Personales </p>
        <div class="FormUser-container">
          <%= form_for(resource, as: resource_name,html: {class: "FormUser-form" }, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="FormUser-field">
              <%= f.email_field :email, autofocus: true, placeholder: "E-mail * ",class: "FormUser-inputText" %>
            </div>

            <div class="FormUser-field">
              <% if @minimum_password_length %>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "FormUser-inputText" , placeholder: "Contraseña * " %>
            </div>

            <div class="FormUser-field">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "FormUser-inputText" , placeholder: "Vuelve a escribir tu contraseña * " %>
            </div>

            <div class="FormUser-Button">
                <div class="Button">
                  <%= f.submit "Crear cuenta" , class: "Button--saveForm" %>
                </div>
              </div>
          <% end %>
          <div class="FormUser-facebookC">
            <div class="FacebookC">
              <a href="#" class="FacebookC-button">
                Entra con Facebook
              </a>
            </div>
          </div>
          <div class="FormUser-footerLinks">
            <%= render "devise/shared/links" %>        
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
  

