<div class="Form">
  <div class="Form-top">
    <% name ||= "Crear" %>
    <p class="Form-mainTitle"><%= name %> Compañia</p>
    <p class="Form-secondaryTitle"> Completa todos los campos sobre la empresa </p>
  </div>
  <div class="Form-bot">
    <%= form_for(@company) do |f| %>
      <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
          <% @company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="Form-field">
        <%= f.label :name , "Nombre *",class: "Form-label" %>
        <%= f.text_field :name , class: "Form-input" %>
      </div>
      <div class="Form-field">
        <%= f.label :photo, "Imagen", class: "Form-label" %>
        <%= f.text_field :photo , class: "Form-input" %>
      </div>
      <div class="Form-field">
        <%= f.label :description, "Descripcion" ,class: "Form-label" %>
        <%= f.text_area :description , class: "Form-inputArea" , rows: 8 %>
      </div>
      <div class="Form-field">
        <div class="Button">
          <%= f.submit "Guardar", class: "Button--saveForm" %>  
        </div>
      </div>
    <% end %>
  </div>
</div>

