<div class="LayoutDashboard-jobs">
      <section class="Information">
        <p class="Information-mainText">Ofertas sugeridas según tu perfil profesional</p>
      </section>
      <p id="notice"><%= notice %></p>
      <section class="Jobs">
          <% @companies.each do |company| %>
            <div class="Job">
              <div class="Job-avatar">
                <p class="Job-avatarText"><%= company.name[0] %></p>
              </div>
            <div class="Job-content">
                <%= link_to company.name,company, class: "Job-title" %>
                <p class="Job-company"> <%= company.description %> </p>
            </div>
            <div class="Job-menuActions">
              <div class="Button">
                <%= link_to 'Añadir Empleos', new_company_job_path(company) , class: "Button--apply" %>
                <%= link_to 'Editar', edit_company_path(company), class: "Button--apply" %>
                <%= link_to 'Borrar', company,class: "Button--apply",  method: :delete, data: { confirm: 'Estas Seguro ?' } %>
              </div>
            </div>  
            </div>
          <% end %>
        </section>
        <div class="Button">
          <%= link_to 'Crear Empresas', new_company_path, class: "Button--green" %>          
        </div>
      </div>



</div>