<div class="LayoutDashboard-informationJob" ng-controller="jobsController as jobs">
	<section class="Information">
    	<p class="Information-mainText">Información de la Empresa</p>
    	<p id="notice"><%= notice %></p>
    </section>
	<div class="InformationJob">
      <div class="InformationJob-top">
        <div class="InformationJob-avatar">
          <p class="InformationJob-avatarText"><%= @company.name[0] %></p>
        </div>
        <div class="InformationJob-textHeader"><a href="" class="InformationJob-title"><%= @company.name %></a>
          <p class="InformationJob-company"><%= @company.description %></p>
        </div>
      </div>
     </div>
     <div class="InformationJob-bottom">
     	<p class="InformationJob-descriptionText">Empleos</p>
      <section class="Jobs">
        <% @company.jobs.each do |job| %>
        <div class="Job">
          <div class="Job-avatar">
            <p class="Job-avatarText"><%= @company.name[0] %></p>
          </div>
          <div class="Job-content"><%= link_to job.title ,company_job_path(@company.id,job.id), class: "Job-title" %>
            <h5 class="Job-company">LimaW SAC</h5>
            <p class="Job-time"><%= DateTime.now.beginning_of_day   %></p>
            <p class="Job-salary">
            <% if job.salary == 0 %>
              Indefinido 
            <% else %>
              <span> S/. </span> <%= job.salary %> <span>.00</span>             
            <% end %>
            </p>
            <p class="Job-date">Publicado el 
              <%= job.created_at.strftime("%d %b")  
              %>
            </p>
          </div>
          <div class="Job-menuActions">
            
          </div>
        </div>
        <% end %>
       </section>
      <div class="Button">
              <a href="" class="Button--add" ng-click="jobs.toggle()">Añadir empleos</a>
      </div>
      <div class="Job-animate" ng-show="jobs.show">
     	  <%= render "jobs/form" %>
      </div>
     </div>
     
	<%= link_to 'Editar', edit_company_path(@company) %> |
	<%= link_to 'Atrás', companies_path %>
</div>