/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 16px;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'fontIcon';
  src: url("/assets/fontIcon.eot?-w8qe4c");
  src: url("/assets/fontIcon.eot?#iefix-w8qe4c") format('embedded-opentype'), url("/assets/fontIcon.ttf?-w8qe4c") format('truetype'), url("/assets/fontIcon.woff?-w8qe4c") format('woff'), url("/assets/fontIcon.svg?-w8qe4c#fontIcon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'fontIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-download:before {
  content: "\e960";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-facebook2:before {
  content: "\ea8d";
}
.icon-twitter:before {
  content: "\ea91";
}
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}
.LayoutHeader {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url("bk-header.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
}
.TopBar {
  height: 60px;
  position: relative;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.TopBar-iconMenu {
    display: none;
  }

.TopBar-logo {
  width: 42%;
  text-align: center;
}

.TopBar-left {
  width: 60%;
  display: block;
}

.TopBar-right  {
  width: 42%;
  display: block;
}

.TopBar-element{
  display: inline;
  padding: 0 1em 0 0;
}
.TopBar-element a{
  color:white;
  text-decoration: none;
  font-weight: 300;
  font-size: 1em;
}

.buttonSignIn{
  border: 1px solid gray;
  padding: 0.5em 1em !important;
  border-radius: 5px;
}
.buttonSignOut{
  background-color: #02adf6;
  padding: 0.5em 1em !important;
  border-radius: 5px;
}

@media (max-width: 800px ){
  .LayoutHeader {
    height: 370px;
    position: relative;
  }

  .TopBar {
    height: 60px;
    position: relative;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .TopBar-iconMenu {
    display: block;
    color: #fff;
    text-decoration: none;
    top: 50%;
    left: 3%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 1.7em;
    cursor: pointer;
  }
  .TopBar-iconMenu:before {
    content: "\e9bd";
    font-family: 'fontIcon';
    speak: none;
  }
  .TopBar-logo {
    text-align: center;
  }

  .ContentHeader-mainText {
    font-size: 1.2em !important;
  }
  .ContentHeader-secondaryText {
    font-size: 1.1em !important;
  }
  .TopBar-left {
   display: none;
  }
  .TopBar-right {
   display: none;
  }

}

.Layout{
  width: 100vw;
  height: 100vh;
 }

.Layout-Form{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url("bk-header.jpg");
  background-size: cover;
  position: absolute;
}




.Logo-text {
  color: #fff;
  text-decoration: none;
  font-size: 2.3rem;
}
.Logo--minText{
  font-size: 1.7rem;
}
.Logo--textLight {
  font-style: italic;
  font-weight: 100;
}
.Logo--textBold {
  font-weight: 500;
  font-style: italic;
}
.Logo--textSmall {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
}
.ContentHeader {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.ContentHeader-mainText {
  color: #fff;
  text-shadow: 1px 1px 9px #000;
  font-size: 3em;
  padding: 0.5em 0;
}
.ContentHeader-secondaryText {
  color: #fff;
  font-weight: 300;
  font-size: 1.3em;
  text-shadow: 4px 3px 3px #000;
  padding: 1.7em 0;
}
.Button {
  width: 100%;
}
.Button--green {
  background-color: #22b573;
  padding: 0.8em 0;
  border-bottom: 0.4em solid #009245;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  display: block;
  text-align: center;
}
.Button--fixedGreen {
  background-color: #22b573;
  padding: 0.8em 0;
  text-align: center;
  border: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.Button--apply {
  background-color: #00a9f5;
  color: #fff;
  padding: 0.3em 0;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  display: block;
  margin: 0.2em 0;
}
.Button--session {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.2em 0.9em;
}
.Button--add {
  background-color: #fff;
  text-decoration: none;
  color: #00a9f5;
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
  border: 1px solid #00a9f5;
  border-radius: 10px;
  padding: 0.9em 0;
  display: block;
  position: relative;
}
.Button--add:before {
  content: "\e926";
  font-family: 'fontIcon';
  position: absolute;
  left: 5%;
  font-size: 1rem;
}

.Button--saveForm{
  background-color: #22b573;
  padding: 0.8em 0;
  border-bottom: 0.4em solid #009245;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  display: block;
  text-align: center;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.LayoutHeader-button {
  width: 100%;
  position: absolute;
  bottom: 1em;
  left: 50%;
  width: 80%;
  transform: translatex(-50%);
}
.Content {
  width: 90%;
  margin: 0 auto;
}
.Content-Partner {
  background: #28ecfe;
  background: linear-gradient(to right, #28ecfe 0%, #02adf6 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #28ecfe), color-stop(100%, #02adf6));
  padding: 1em 0;
}
.Content-appMobile {
  width: 100%;
  padding: 0.5em 0;
}
.Content-footer {
  width: 100%;
  background-color: #064b5b;
  padding: 0.5em 0;
}
.Promotions-mainText {
  font-size: 2em;
  color: #00a9f5;
  font-weight: 400;
  text-align: center;
}
.Promotions-secondaryText {
  font-size: 1.36em;
  text-align: center;
  font-weight: 100;
}
.Promotions-secondInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Promotions-containerImage,
.Promotions-image {
  border-radius: 500% 500%;
  width: 180px;
}
.Promotions-listSkills {
  width: 100%;
}
.Promotions-list,
.Promotions-listText {
  font-size: 1em;
  font-weight: 200;
}
.Partner {
  width: 80%;
  margin: 0 auto;
}
.Partner-mainText {
  color: #fff;
  font-weight: 400;
  font-size: 1.3em;
  text-align: center;
}
.Partner-secondaryText {
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.Partner-listCompanys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AppMobile {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AppMobile-mainText {
  color: #00a9f5;
  font-size: 1.4em;
  margin: 1em 0 1em 0;
}
.AppMobile-imageGooglePlay {
  width: 50%;
  margin: 0 0 1em 0;
}
.Links {
  width: 90%;
  margin: 0 auto;
}
.Links-mainText {
  color: #fff;
  font-weight: 400;
  padding: 0 0 0.6em 0;
  border-bottom: 0.1em solid rgba(255,255,255,0.6);
  font-size: 0.9em;
  margin: 0.4em 0;
}
.Links-list {
  list-style: none;
  padding: 0;
  margin: 0.4em 0;
}
.Links-element {
  color: #fff;
  padding: 0.3em 0;
  border-bottom: 0.1em solid rgba(255,255,255,0.3);
}
.Links-text {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
}
.Copyright {
  width: 80%;
  margin: 0 auto;
}
.Copyright-text {
  color: #fff;
  font-weight: 300;
  font-size: 0.8em;
  margin: 0;
  padding: 0.8em 0;
  text-align: center;
}
.LayoutDashboard {
  width: 100%;
  height: 100vh;
}
.LayoutDashboard-header {
  width: 100%;
}
.LayoutDashboard-jobs {
  width: 90%;
  margin: 1em auto;
}
.LayoutDashboard-footer {
  width: 100%;
  margin: 0 auto;
  background-color: #064b5b;
  padding: 0.5em 0;
}
.LayoutDashboard-more {
  width: 100%;
  text-align: center;
  margin: 2em auto;
}
.LayoutDashboard-informationJob {
  width: 90%;
  margin: 1em auto;
}
.LayoutDashboard-search {
  width: 90%;
  padding: 1em;
  margin: 0 auto;
}
.LayoutDashboard-normal{
  width: 90%;
  padding: 1em;
  margin: 0 auto;
}
.LayoutDashboard-profile {
  width: 100%;
}
.topBarDashboard {
  background: #00a9f5;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBarDashboard-left {
  padding: 0 1em;
}
.topBarDashboard-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topBarDashboard-search {
  padding: 0 1.2em;
}
.topBarDashboard-iconSearch {
  width: 100%;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}
.topBarDashboard-iconSearch:before {
  content: "\e986";
  font-family: 'fontIcon';
  speak: none;
}
.topBarDashboard-menuAvatar {
  width: 100%;
  padding: 0 1.2em;
}
.menuDashboard {
  background: #307fc5;
}
.menuDashboard-elements {
  list-style: none;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.menuDashboard-element,
.menuDashboard-text {
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
}
.AvatarProfile {
  width: 100%;
  text-align: center;
}
.AvatarProfile-avatar {
  width: 100%;
}
.AvatarProfile-image {
  width: 35px;
  border-radius: 50%;
}
.Information-mainText {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding-bottom: 0.8em;
  border-bottom: solid 1px rgba(0,0,0,0.2);
}
.Information-searchText {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}
.Jobs {
  width: 100%;
}
.Job {
  border: solid 1px rgba(0,0,0,0.2);
  height: 150px;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Job-animate{
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.Job-animate.ng-hide{
  opacity:0;
  height: 0;
}
.Job-avatar {
  border: solid 1px rgba(0,0,0,0.2);
  width: 70px;
  height: 50px;
  background-color: #307fc5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}
.Job-avatarText {
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 3em;
}
.Job-title {
  color: #00a9f5;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.Job-content {
  width: 50%;
  margin: 0 0.6em;
}
.Job-company {
  color: #808080;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  display: block;
}
.Job-time {
  color: #808080;
  font-size: 0.9rem;
  margin: 0;
  font-weight: 300;
  padding: 0;
}
.Job-time:before {
  content: "\e953";
  padding: 0 0.5em 0 0;
  font-size: 1em;
  font-family: 'fontIcon';
  speak: none;
}
.Job-salary {
  color: #808080;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.Job-salary:before {
  content: "\e93b";
  padding: 0 0.5em 0 0;
  font-size: 1em;
  font-family: 'fontIcon';
  speak: none;
}
.Job-date {
  color: #808080;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  font-weight: 300;
  position: absolute;
  bottom: 0.2em;
  left: 1em;
}
.Job-menuActions {
  width: 30%;
  margin-right: 1em;
}
.InformationJob {
  width: 100%;
}
.InformationJob-top {
  border: 1px solid rgba(0,0,0,0.2);
  margin: 1em 0 0 0;
  padding: 1em 1em;
  display: flex;
  align-items: center;
}
.InformationJob-avatar {
  width: 80px;
  height: 70px;
  display: flex;
  background: #307fc5;
  align-items: center;
  justify-content: center;
}
.InformationJob-avatarText {
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 2em;
}
.InformationJob-textHeader {
  margin-left: 1.5em;
}
.InformationJob-title {
  text-decoration: none;
  color: #00a9f5;
  text-transform: uppercase;
}
.InformationJob-company {
  font-size: 0.9em;
  margin: 0.2em 0;
  font-weight: 300;
}
.InformationJob-middle {
  background: #f5f5f5;
  padding: 0.9em 1.9em;
}
.InformationJob-date {
  font-size: 0.9em;
  font-weight: 300;
}
.InformationJob-date:before {
  content: "\e94e";
  font-family: 'fontIcon';
  margin: 0 0.5em 0 0;
}
.InformationJob-calendar {
  font-size: 0.9em;
  font-weight: 300;
}
.InformationJob-calendar:before {
  content: "\e953";
  font-family: 'fontIcon';
  margin: 0 0.5em 0 0;
}
.InformationJob-typeContract {
  font-size: 0.9em;
  font-weight: 300;
}
.InformationJob-typeContract:before {
  content: "\e926";
  font-family: 'fontIcon';
  margin: 0 0.5em 0 0;
}
.InformationJob-workHours {
  font-size: 0.9em;
  font-weight: 300;
}
.InformationJob-workHours:before {
  content: "\e950";
  font-family: 'fontIcon';
  margin: 0 0.5em 0 0;
}
.InformationJob-bottom {
  background: #f5f5f5;
  padding: 0.9em 1.9em;
  margin: 0.6em 0;
}
.InformationJob-descriptionText {
  font-size: 1.1em;
  font-weight: 400;
}
.InformationJob-description {
  width: 99%;
}
.InformationJob-textDescription {
  font-size: 0.8em;
  font-weight: 300;
  text-align: justify;
}
.InformationJob-requirements {
  font-size: 0.9em;
  font-weight: 400;
}
.InformationJob-minimumEducation,
.InformationJob-yearExperience,
.InformationJob-lenguaje,
.InformationJob-travel,
.InformationJob-changeResidence {
  font-size: 0.8em;
  font-weight: 400;
}
.InformationJob-textEducation,
.InformationJob-textExperience,
.InformationJob-textLenguaje,
.InformationJob-textTravel,
.InformationJob-textResidence {
  font-weight: 300;
}
.Search {
  width: 100%;
  margin: 1em 0;
}
.Search-form {
  width: 100%;
}
.Search-containerInput {
  position: relative;
  margin-bottom: 1em;
}
.Search-searchInput {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: solid rgba(0,0,0,0.25) 1px;
}
.Search-button {
  background-color: #22b573;
  border-bottom: 0.4em solid #009245;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0.8em 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.Search-iconSearch {
  color: rgba(128,128,128,0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
  font-size: 1.2em;
}
.Search-iconSearch:before {
  content: "\e986";
  font-family: 'fontIcon';
  speak: none;
}
.CardProfile {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.CardProfile-left {
  margin-right: 3em;
}
.CardProfile-containerImage {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0,0,0,0.2);
}
.CardProfile-image {
  width: 100%;
  height: 100%;
}
.CardProfile-right {
  flex-basis: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.CardProfile-name {
  font-size: 1.3em;
  font-weight: 500;
  margin: 0.3em 0;
  padding: 0;
}
.CardProfile-skill {
  font-size: 1em;
  paddin: 0;
  margin: 0.3em 0;
}
.CardProfile-ubication {
  font-weight: 300;
  font-size: 0.9em;
  margin: 0.3em 0;
  padding: 0;
}
.CardProfile-ubication:before {
  font-family: 'fontIcon';
  content: "\e948";
  margin-right: 0.5em;
}
.CardProfile-email {
  font-weight: 300;
  font-size: 0.9em;
  margin: 0.3em 0;
  padding: 0;
}
.CardProfile-email:before {
  font-family: 'fontIcon';
  content: "\e945";
  margin-right: 0.5em;
  speak: none;
}
.CardProfile-iconEdit {
  font-size: 1.9em;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
}
.CardProfile-iconEdit:before {
  font-family: 'fontIcon';
  content: "\e905";
  speak: none;
}
.CardProfile-download {
  align-self: flex-end;
}
.CardProfile-textDownload {
  color: #307fc5;
  text-decoration: underline;
}
.CardProfile-textDownload:after {
  font-family: 'fontIcon';
  content: "\e960";
  speak: none;
  margin-left: 0.5em;
  font-size: 1.5em;
}
.ItemCV {
  width: 100%;
}
.ItemCV-title {
  background-color: #ccc;
  text-align: center;
}
.ItemCV-titleText {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.7em 0;
}
.ItemCV-container {
  width: 80%;
  margin: 0 auto;
}
.ItemCV-buttonContainer {
  display: relative;
}
.ItemCV-list {
  width: 100%;
}
.ItemCV-element {
  width: 90%;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ItemCV-textItem {
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
  flex-basis: 90%;
}
.ItemCV-textItem:before {
  font-family: 'fontIcon';
  content: "\e924";
  speak: none;
  margin-right: 1em;
  color: #00a9f5;
}
.ItemCV-actionDelete {
  text-decoration: none;
  flex-grow: 1;
}
.ItemCV-actionDelete:before {
  font-family: 'fontIcon';
  content: "\ea0f";
  speak: none;
  margin-right: 1em;
  color: #f00;
  font-size: 1.5em;
}
.ItemCV-actionEdit {
  text-decoration: none;
  flex-grow: 1;
}
.ItemCV-actionEdit:before {
  font-family: 'fontIcon';
  content: "\e905";
  speak: none;
  margin-right: 1em;
  color: #808080;
  font-size: 1.5em;
}


/* Formularios */

.Form {
  width: 100%;

}
.Form-top {
  background: #D7F9FF ;
  padding: 0.2em 1.2em;
}
.Form-mainTitle {
  font-weight: 400;
  font-size: 1.1em;
}
.Form-secondaryTitle {
  font-weight: 300;
  font-size: 0.8em;
}

.Form-bot {
  width: 98%;
  margin: 0 auto;
}

.Form-field {
  display: block;
  padding: 0.5em 0;
}
.Form-label {
  font-weight: 400;
  font-size: 0.9em;
  display: block;
  width:  100%;
  padding: 0.4em 0;
}
.Form-input {
  width: 100%;
  border-radius: 0.5em;
  height: 2.8em;
  border: 1px gray solid;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  font-weight: 300;
  box-sizing: border-box;
}
.Form-inputArea {
  width: 100%;
  border-radius: 0.4em;
  border: 1px gray solid;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  font-weight: 300;
}
.Form-inputArea:focus{
  outline: 0;
}
.Form-select{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  height: 2.5em;
}



/* Menu Mobile */

.MenuMobile {
  text-align: center;
  background: #064b5b;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
}
.MenuMobile-listMenu {
  margin: 0;
  padding: 0;

}
.MenuMobile-element {
  text-align: initial;
  border-bottom: 1px rgba(1,1,1,0.2) solid;
}
.MenuMobile-textElement{
  color: white;
  text-decoration: none;
  font-weight: 300;
  padding: 1em 1.2em;
  display: block;
}

/* Form Sign-in*/
.LayoutMidForm{
  max-width: 380px;
  margin:100px auto;
}
.LayoutMidForm-top{
  text-align: center;
}

.FormUser{
  border-radius: 0.2em;
  box-shadow: -1px 1px 10px #617db7;
  background-color: white;
}
.FormUser-mainText{
  text-align: center;
  color: rgba(75, 89, 102, 0.9);
  padding: 0.5em 0;
  font-size: 1.5em;
  font-weight: 400;
  margin:0;
}
.FormUser-secondaryText{
  text-align: center;
  color: rgba(75, 89, 102, 0.9);
  padding: 0.4em 0;
  margin: 0;
  font-weight: 300;
  font-size: 0.9em;
}
.FormUser-form{
  border-top: 1px solid #E5E5E5;
  margin-top: 1em;
}

.FormUser-field{
  padding: 5px 20px;
  border-bottom: 1px solid #E5E5E5;
}
.FormUser-inputText{
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  border: none;
  font-weight: 300;
  font-size:1em;
  box-shadow: none;
}
.FormUser-inputText:focus{
  outline: 0;
}
.FormUser-textCheckbox{
  font-size: 0.9em;
  font-weight:300;
}
.FormUser-facebookC{
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  background-color: #F8F8F8;
}
.FacebookC{
  width: 100%;
}
.FacebookC-button{
  display: block;
  padding: 1em 0 1em 1em;
  color: #617db7;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.1em;
}
.FacebookC-button:before{
  content: "\ea8d";
  font-family: "fontIcon";
  speak: none;
  padding-right: 0.5em;
}

.FormUser-footerLinks{
}
.FormUser-footerLinks a{
  display: block;
  padding: 1em 0 1em 1em;
  color: #617db7;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.1em;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  background-color: #F8F8F8;
  font-size: 0.9em;
  font-weight: 300;
}
