<footer class="LayoutDashboard-footer">
  <div class="Links">
    <p class="Links-mainText">Secciones</p>
    <ul class="Links-list">
      <li class="Links-element"><a href="#" class="Links-text">Mi Curriculum</a></li>
      <li class="Links-element"><a href="#" class="Links-text">Mis Candidaturas</a></li>
      <li class="Links-element"><a href="#" class="Links-text">Mi perfil</a></li>
    </ul>
    <p class="Links-mainText">Empresas</p>
    <ul class="Links-list">
      <li class="Links-element"><a href="#" class="Links-text">Contacto</a></li>
    </ul>
    <div class="Copyright">
      <p class="Copyright-text">(c) 2015 - Psicotalentos SAC. Todos los derechos reservados</p>
    </div>
  </div>
</footer>