<header class="LayoutDashboard-header">
  <div class="topBarDashboard">
    <div class="topBarDashboard-left">
      <div class="topBarDashboard-logo">
        <div class="Logo">
          <%= link_to jobs_path, class: "Logo-text Logo--minText"  do %>
            <span class="Logo--textLight">Psico</span><span class="Logo--textBold">talentos</span>
          <% end %>       
        </div>
      </div>
    </div>
    <div class="topBarDashboard-right">
      <div class="topBarDashboard-search"><a href="#" class="topBarDashboard-iconSearch"></a></div>
      <div class="topBarDashboard-menuAvatar">
        <% if user_signed_in? %>
          <div class="AvatarProfile">
          <div class="AvatarProfile-avatar">
          <%= link_to curriculums_path do %>
            <%= image_tag("avatar.jpg", class: "AvatarProfile-image") %>
          <%end%>
          </div>
          <div class="Button">
          <%= link_to "Cerrar Sesión" , destroy_user_session_path, class: "Button--session", method: :delete %>
            </li>
          </div>

        </div>
        <% else %>
          <div class="Button">
          <%= link_to "Entrar" , new_user_session_path, class: "Button--session" %>
            </li>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="menuDashboard">
    <ul class="menuDashboard-elements">
      <% if user_signed_in? %>
        <li class="menuDashboard-element">
            <%= link_to "Sugerencias", jobs_path, class: "menuDashboard-text" %>
        </li>
        <li class="menuDashboard-element">
          <%= link_to "Empleos", jobs_path, class: "menuDashboard-text" %>
        </li>
        <li class="menuDashboard-element">
          <a href="#" class="menuDashboard-text">Postulaciones</a>
        </li>
      <% else %>
        <li class="menuDashboard-element">
            <%= link_to "Inicio", root_path, class: "menuDashboard-text" %>
        </li>
        <li class="menuDashboard-element">
          <%= link_to "Empleos", jobs_path, class: "menuDashboard-text" %>
        </li>
      <% end %>

     
    </ul>
  </div>
</header>