<!DOCTYPE html>
<html>
<head>
  <title>STalent</title>
  <meta charset="UTF-8"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400" rel="stylesheet" type="text/css"/>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<%= csrf_meta_tags %>
</head>
<body ng-app="myApp">
	<%= yield %>

</body>
</html>
